* {
  color: white;
  text-align: center;
  background-color: #222326;
  font-family: Circular, Helvetica, Arial, sans-serif !important;
}

h1,
h2 {
  color: #1ed760;
  ;
}

p {
  color: white;
}

img {
  width: 6rem;
  margin: 2rem;
}

article {
  margin-top: 4rem;
}